
<% if @user.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, required: true %>
</div>

<div class="field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, required: true %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email, required: true %>
</div>
