<!DOCTYPE html>
<html>
  <head>
    <title>AssetsReminder</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <div id="user-header">
      <% if logged_in? %>
        <%= link_to "Log Out", logout_path %>
        <h3>Hello <%= current_user.first_name + ' ' + current_user.last_name %></h3>
      <% else %>
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>

    <div id="flash-container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
